<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Surfside Media</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <link rel="stylesheet" href="/assets/css/main.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    ::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>

<body>
  <main class="main">
    <nav class="navbar fixed-top bg-primary p-4">
      <div class="container">
        <a class="btn text-light link-dark" href="/">Home</a>
        <% if (path == '/admin/products') { %>
        <div class="mobile-search search-style-3 mt-0 mobile-header-border p-0">
          <form action="#">
            <input type="text" id="searchInput" placeholder="Search for items…">
            <button id="searchButton"><i class="fi-rs-search link-dark"></i></button>
          </form>
        </div>
        <% } else { %>
        <a class="btn text-light link-dark" href="/admin/products">Products</a>
        <% } %>
        <a class="btn <%= (path == '/add-product' ? 'text-dark': 'text-light') %>" href="/add-product">Add Product</a>
        <a class="btn <%= (path == '/add-brand' ? 'text-dark': 'text-light') %> link-dark" href="/add-brand">Add
          Brand</a>
        <a class="btn <%= (path == '/add-categoury' ? 'text-dark': 'text-light') %> link-dark" href="/add-categoury">Add
          Categoury</a>
        <a class="btn <%= (path == '/add-coupon' ? 'text-dark': 'text-light') %> link-dark" href="/add-coupon">Add
          Coupon</a>
      </div>
      </div>
    </nav>
    <%- body %>
  </main>
</body>
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/plugins/slick.js"></script>
<script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/assets/js/plugins/wow.js"></script>
<script src="/assets/js/plugins/jquery-ui.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/assets/js/plugins/magnific-popup.js"></script>
<script src="/assets/js/plugins/select2.min.js"></script>
<script src="/assets/js/plugins/waypoints.js"></script>
<script src="/assets/js/plugins/counterup.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/images-loaded.js"></script>
<script src="/assets/js/plugins/isotope.js"></script>
<script src="/assets/js/plugins/scrollup.js"></script>
<script src="/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/assets/js/plugins/jquery.elevatezoom.js"></script>

<!-- Vendor JS-->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/js/plugins/slick.js"></script>
<script src="/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/assets/js/plugins/wow.js"></script>
<script src="/assets/js/plugins/jquery-ui.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/assets/js/plugins/magnific-popup.js"></script>
<script src="/assets/js/plugins/select2.min.js"></script>
<script src="/assets/js/plugins/waypoints.js"></script>
<script src="/assets/js/plugins/counterup.js"></script>
<script src="/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/assets/js/plugins/images-loaded.js"></script>
<script src="/assets/js/plugins/isotope.js"></script>
<script src="/assets/js/plugins/scrollup.js"></script>
<script src="/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/assets/js/plugins/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="/assets/js/main.js?v=3.3"></script>
<script src="/assets/js/shop.js?v=3.3"></script>

<!-- Template  JS -->
<script src="/assets/js/shop.js?v=3.3"></script>
<script src="/assets/js/common.js"></script>
<!-- <script src="/assets/js/main.js?v=3.3"></script> -->

</html>